.fpt-viewport {
	width: 200px;
	height: 150px;
	margin-left: 100px;
	border: 1px solid #aaa;
	border-radius: 3px;
	background-color: #f4f4f4;
	position: relative;
	overflow: hidden;
}

.fpt-viewport > div {
	position: absolute !important;
}

.rbl_fake_transitions--collapse_diag-vert,
.rbl_fake_transitions--collapse_diag-horz {
	border-width: 75px 100px !important;
}